nav{
    display: flex;
    background-color: green;
}
li{
    list-style: none;
    padding: 10px 20px;
}
a{
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
a:hover{
    border-bottom: 3px solid white;
}
a.active-link{
    border-bottom: 3px solid white;
}